@use "../helpers/mixins" as helperModule;
@use "../helpers/variables";
@use "../library/library" as inputs;

.first__section {
    background-image: url(../images/background-first.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first__title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.first__header {
    padding-top: 460px;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first__title--main {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 18px;
}

.first__description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 18px;
}

.first__about-studio {
    display: flex;
    margin-left: 1000px;
    padding-bottom: 46px;
}

.info__about-studio {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.info__about-studio:first-child {
    margin-right: 55px;
}

.info__about-studio:nth-child(2) {
    margin-right: 55px;
}

.info__about-studio:nth-child(3) {
    margin-right: 31px;
}

.info__about-studio--first::before {
    position: absolute;
    content: url(../images/svg-time.svg);
    top: 12px;
    left: -20px;
}

.about-studio__container {
    position: relative;
}

.info__about-studio--second::before {
    position: absolute;
    content: url(../images/svg-focus.svg);
    top: 12px;
    left: -20px;
}

.info__about-studio--third::before {
    position: absolute;
    content: url(../images/svg-iso.svg);
    top: 12px;
    left: -40px;
}

.info__about-studio--fourth::before {
    position: absolute;
    content: url(../images/svg-geo.svg);
    top: 12px;
    left: -20px;
}

main {
    border: 2;
}

.second__main {
    background: #000000;
    border-radius: 0px;
}

.second__title--main {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}

.second__header {
    padding-top: 183px;
}

.second__discription {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin: 0;
    margin-bottom: 42px;
}

.first-block {
    background-image: url(../images/iphone-img.jpg);
    margin-right: 16px;
    margin-bottom: 16px;
}


.main__title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 4px;
}

.main__discription {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin: 0;
    margin-bottom: 8px;
    width: 514px;
}

.main-block {
    padding: 440px 45px 69px 30px;
    position: relative;
    width: 576px;
    height: 600px;
}

.photographs-on-camera {
    display: flex;
    flex-wrap: wrap;
}

.second-block {
    background-image: url(../images/build-img.jpg);
    margin-bottom: 16px;
}

.main__link {
    font-family: 'Poppins'; 
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 10px 13px 42px;
    position: relative;
}

.main__link::before {
    position: absolute;
    content: url(../images/kolo.svg);
    top: 5px;
    left: 3px;
}

.fourth-block {
    background-image: url(../images/deer-img.jpg);
}

.third-block {
    background-image: url(../images/trees-img.jpg);
    margin-right: 16px;
}
